/* Общий стиль для body */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

/* Стили контейнера */
.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

/* Заголовки */
h1, h2 {
  color: #0056b3;
  text-align: center;
}

/* Общий стиль кнопок */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button:hover {
  background-color: #0056b3;
}

/* Поля ввода */
input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.info-p {
  text-align: center;
}

/* ===== Медиа-запросы ===== */

/* Для экранов шириной до 768px */
@media (max-width: 768px) {
  .container {
    padding: 10px;
    max-width: 100%;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .btn-nav {
    flex-direction: column;
    gap: 10px;
  }
}

/* Для экранов шириной до 576px */
@media (max-width: 576px) {
  h1, h2 {
    font-size: 20px;
  }

  input[type="text"],
  input[type="number"],
  textarea {
    font-size: 14px;
    padding: 8px;
  }

  button {
    font-size: 14px;
    padding: 6px 12px;
  }

  .info-p {
    font-size: 14px;
  }
}

/* Для экранов шириной до 400px */
@media (max-width: 400px) {
  h1, h2 {
    font-size: 18px;
  }

  button {
    font-size: 12px;
    padding: 5px 10px;
  }

  .info-p {
    font-size: 12px;
  }
}
